@import 'tailwindcss/tailwind.css';

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    /* Add additional font weights and styles if necessary */
  }
  
  body {
    font-family: 'Poppins';
    background-color: #F7F9FC;
  }

  .sidebar-item {
    color: #FFFFFF; /* Change text color here */
  }
  